.whole_Container {
    width: 45vw;
    height: auto;
    margin: 2.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputStyle {
    width: 100%;
    border: none;
    border-bottom: 2px solid aqua;
    padding: 15px 20px;
    box-shadow: 0px 3px 5px #dedede;
    transition: all .6s;
}

.inputStyle:hover {
    box-shadow: 0px 1px 5px #dedede;
}

.inputStyle:focus {
    outline: none;
    transform: translateY(-5px);
}

.inputButton {
    padding: 10px 15px;
    margin: 2.5% auto;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid aqua;
    color: #dedede;
    font-weight: bold;
    cursor: pointer;
    transition: all .7s;
}

.inputButton:hover {
    box-shadow: 0px 3px 5px #dedede;
}

.ListContainer {
    width: 65%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
}

.ListContainerElement {
    color: #666;
    padding: 10px 15px;
    border-bottom: 1px solid #dedede;
    margin-top: 5%;
    cursor: pointer;
    transition: all .7s;
}

.ListContainerElement:hover {
    transform: translateX(10px)
}